
@{
    ViewBag.Title = "About";
}

<h2 class="title">About</h2>
<h3 id="quote" class="boxShadow">"Something old, something new, something borrowed, something blue..."</h3>
<div style="width: inherit">
	<div id="rightImage">
		<img style="padding: 0px 15px 15px 15px; float: left;"
			  src="~/Content/Images/OldBlue.jpg" width="171" height="150"
			  alt="Something old, something new, something borrowed, something blue" />
	</div>
	<div id="info">
		<p style="margin-top: 20px;"> </p>
		<p>
			Why not make your dress that something borrowed to save up to thousands of dollars on your wedding day?
			With brides spending an average of around $1,100 on a once-wear dress, it's easy to see how important
			it is to many to wear a dress of her dreams! Something Borrowed aims to provide their brides with the
			perfect dress for a fraction of the price.
			<br />
			<br />
			Browse our selection of dresses, and choose up to four dresses to try on at no additional cost. We'll
			ship them to you on our own dollar and even pay the return shipping for the ones that aren't quite what
			you had in mind. Alterations can be done at any of our partners in a city near you. Call 616-555-0100
			for more details and to find the alteration location nearest to you.
			<br />
			<br />
			Start off your marriage on the right financial foot, and come rent from us!
		</p>
	</div>
</div>

