
@{
    ViewBag.Title = "ContactUs";
}

<h2 class="title">Contact Us</h2>
<h3>We would love to hear from you!</h3>
<address>
	1234 Wedding Ave.<br />
	Grand Rapids, MI 49511<br />
	<abbr title="Phone">P:</abbr>
	616.555.0100
</address>
<br/>
<address>
	<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@somethingborrowed.com</a><br />
	<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@somethingborrowed.com</a>
</address>

